html {
  box-sizing: border-box;
  font-family: "Roboto", arial, sans-serif;
  background-color: whitesmoke;
}

.appContainer {
  /* background-color: rgb(122,170,80); */

  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4) ), url('../components/assets/nettles.jpg');
  background-color: antiquewhite;
  background-size: 100%;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.create- {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  background-color: red;
  margin-bottom: 80px;
  justify-content: center;
  background-color: black;
  opacity: 0.9;
}

#dropdownBtn {
  z-index: 1;
}


.recipeContainer {
  flex-direction: row;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 0;

}

.createRecipeDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.createRecipeContainer {
  height: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 1;

}

.hello {
  font-size: 30px;
  width: 600px;
  height: 50px;
  text-align: left;
  text-decoration: underline;
}

.edit-profile {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: -73px;
  margin-left: 290px;
}

.canvas {
  height: 1200px;
  background-color: black;
  opacity: 0.9;
  
}

.canvas-small {
  height: 500px
}

.editForm {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.login {
width: 400px;
height: 800px;
margin: 0 auto;
opacity: 0.9;
animation: fadeIn ease-in 1s;
animation-delay: 0s;


}

.loginPageContainer {
  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4) ), url('../components/assets/nettles.jpg');
  background-color: antiquewhite;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.background {
  filter: blur(4px);
}

.pad {
padding: 20px;
opacity: 0.95;
}

.columnEdit {
  display: flex;
  flex-direction: column;
}

.loginIcon {
display: flex;
flex-direction: column;
align-items: center;
margin: 5px;
}

.recipeForm {
  display: 'flex';
  flex-wrap: 'wrap';
}

.login .loginButton {
margin-top: 20px;
}

.or {
margin: 30px 0;
font-size: 16px;
text-align: center;
}

.loginInput {
margin: 325px;
}

input {
width: 300px;
height: 52px;
margin: 0 auto;
font-size: 21px;
text-align: center;
box-shadow: 0 6px 6px -6px black;
font-size: 18px;
}

button {
width: 110px;
height: 35px;
border-radius: 3%;
font-size: 14px;
box-shadow: 0 6px 6px -6px black;
transition: 0.3s;
border: none;
}

.logoutButton {
  transition: 0.3s;
}


.abutton:hover {
  background-color: rgb(142,50,40);
  color: white;
  transition: 0.3s;
}

.abutton3 {
  margin: 8px;
}

.abutton2 {
  width: 125px;
}

.abutton2:hover {
  background-color: rgb(142,50,40);
  color: white;
  transition: 0.3s;
}

.abutton3:hover {
  background-color: rgb(142,50,40);
  color: white;
  transition: 0.3s;
}

.abuttonS:hover {
  background-color: rgb(142,50,40);
  color: white;
  width: 115px;
  text-align: center;
  height: 44px;
  transition: 0.3s;
}

.abuttonS {
  transition: 0.3s;
  margin: 10px;
}

.upload-recipe-bttn {
  width: 130px;
}

.upload-recipe-bttn:hover {
  background-color: rgb(142,50,40);
  color: white;
  transition: 0.3s;
  width: 130px;

}

label {
color:black;
font-size: 24px;
padding: 8px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 0 auto;
}


textarea {
  resize: none;
  width: 600px;
  height: 400px;
  text-align: center;
  box-shadow: 0 6px 6px -6px black;
  font-size: 30px;
  margin: 4px;
  overflow: scroll;
}

.prep {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 120px;
}

.test {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.formcontainer {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  flex-wrap: nowrap;
  width: 100%;
  border: 1px solid lightgrey;
  height: 100%;
  margin: 0 auto;
}

.submitButton{
  margin: auto;
  margin-top: 10px;
}

.directionDiv {
  height: 100%;
  background-color: black;
  width: 600px;
  margin: 0 auto;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.selectorDiv {
  display:flex;
  flex-direction: column;
}

select {
  width: 290px;
  height: 52px;
  margin: 50px;
  font-size: 21px;
  text-align: center;
  box-shadow: 0 6px 6px -6px black;
  font-size: 18px;
}

.formInput {
  margin: 12px;
}

p {
  font-size: 25px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.3s;
  text-shadow: 1px 1px rgb(142,50,40);
}

.leftP:hover {
  font-size:27px;
  color: rgb(122,60,80);
}

h1 {
  text-align: center;
  color: lightgrey;
  font-weight: 200;
  font-size: 72px;
  margin: auto;
  text-shadow: 1px 1px rgb(142,50,40);
}

h3 {
  color: white;
  border-bottom: 1px solid white;
  font-size: 25px;

}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 16px;
}

.inputClass {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 2%;
  box-shadow: 0 1px 1px rgb(0, 0, 0, 0.15), 0 10px 0 -5px #eee rgba(0, 0, 0, 0.15);
  font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ingredientUL .ingredientLI:hover {
  font-size: 20px;
  box-shadow: 0 8px 1px -4px rgb(0, 0, 0, 0.10), 0 20px 0 -10px #eee;
}

.ingredientUL {
  text-decoration: none;
  font-style: none;
  padding: 0;
  margin: 0 auto;
}

.ingredientUL .ingredientLI {
  color: black;
  width: 350px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  background-color: white;
  font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 1px 1px rgb(0, 0, 0, 0.15), 0 10px 0 -5px #eee;
  line-height: 50px;
  margin: 0 auto;
  text-decoration: none;
  list-style-type: none;
}

.bookFavorites {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 600px;
}

.createGroupInput {
  margin: 10px 49px;
}

.createGroupDiv {
  margin-right: 550px;
}

.test {
  height: 700px;
}

.createGroupForm {
  margin: 20px;

}

.groupName {
  font-size: 42px;
  color: white;
}

.membersList {
  width: 200px;
  margin: 0 auto;

}

.groupUsers {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  list-style-type: none;
  font-size: 25px;
  color: white;
  border-bottom: 1px solid white;
}

.groupUserLI {
  margin: 5px;
  color: white;
}

.currentGroup {
  color: lightgrey;
  font-size: 28px;
}

.groupUserP:hover{
  font-size: 27px;
  color: rgb(122,68,70);
}

.userProfileDisplay{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  width: 780px;
  height: 100%;
  opacity: 0.9;
  margin: 0 auto;
  padding: 20px;
  border-radius: 1.5%;
}

.profileContainer {
  width: 100%;
}

.profileInformation {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.user-pic {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  margin: 0 auto;
 
}

.groupViewDiv {
  width: 100%;
  display: flex;
}

.groupRecipesDiv {
  width: 1340px;
  height: 100%;
  overflow-x: scroll;
  margin: 0 auto;

}

.fa {
  font-size: 14px;
}

.fa2 {
  font-size: 100px;
  margin: 0 auto;
  color: whitesmoke;
}


.faBack {
  font-size: 42px;
  margin-top: 33px;
  margin-left: 14px;
  color: white;
  text-shadow: 1px 1px rgb(142,50,40);
}

.faBack2 {
  font-size: 35px;
  margin-top: 33px;
  margin-left: 14px;
  color: white;
  text-shadow: 1px 1px rgb(142,50,40);
}

.faBack2:hover {
  color: rgb(122,68,70);
}

.divHeader {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  height: 92px;
 
}

.divHeader2 {
  display: flex;
  flex-direction: row;
}

.faBack:hover {
  color: rgb(122,68,70);
  /* font-size: 44px; */
}

.groupWrapper {
  display: flex;
  flex-direction: row;
}

.groupRecipe-Div {
  background-color: rgb(122,68,70);
  padding: 25px;
  width: 280px;
  height: 280px;
  border-radius: 3%;
  animation: fadeIn ease-in 1s;
  animation-delay: 0s;
  transition: 0.3s;
}

.groupRecipe-Div:hover {
  width: 300px;
  height: 300px;
  transition: 0.3s;
}

.groupUL .groupLI {
  list-style-type: none;
  font-size: 25px;
  text-align: center;
  align-items: center;
  margin: 12px;
  border-radius: 1.5%;

}

.groupUL {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.userRecipeDiv {
  height: 700px;
  overflow: scroll;
  width: 100%;
  margin: 15px;
  overflow-x: hidden;
  animation: fadeIn ease-in 1s;
  animation-delay: 0s;

 }

.userFavoriteContainer {
  height: 100%;
}

.errorLabel {
  color: red;
}

.errorLabel2 {
  color: red;
  margin-left: 420px;
}

.errorDiv{

  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.recipeListP {
  margin: 20px;
  border: 1px solid black;
  background-color: rgb(122,68,70);
  padding: 10px;
  width: 280px;
  height: 280px;
  overflow: hidden;
  padding: 20px;
  border-radius: 3%;
  margin: auto;
  text-align: center;
  box-shadow: 5px 8px 8px -6px black;
  text-shadow: 1px 1px rgb(142,50,40);
  font-size: 26px;
  transition: 0.3s;
  color: white;


}

.recipeListP:hover{
  width: 310px;
  height: 310px;
  transition: 0.3s;
}

.recipeListP:hover {
  font-size: 27px;
}

.recipeLink {
  margin: 16px;
}

.recipeDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;

}

.recipeFavoritesDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  overflow-x: scroll;

}

.groupContainer {
  display: flex;
  flex-direction: row;
  height: 700px;
  overflow: scroll;
  overflow-y: hidden;
  width: 1200px;
  margin: 0 auto;

}

.groupSpanP {
  color: white;
}

.groupLI-div{
  border: 1px solid grey;
  width: 380px;
  height: 500px;
  background-color: rgb(122,68,70);
  text-align: center;
  align-items: center;
  margin: 12px;
  margin-top: 72px;
  border-radius: 1.5%;
  text-shadow: 1px 1px rgb(142,50,40);
  animation: fadeIn ease-in 1s;
  animation-delay: 0s;
  box-shadow: 0 6px 6px -6px black;
  transition: 0.3s;
}

.groupLI-div:hover {
  width: 390px;
  height: 530px;
  transition: 0.3s;
}

.logoutDiv {
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;

}


.userSpan {
  color: white;
  margin: 20px;
  padding: 8px;
  background-color: red;
  width: 110px;
  height: 35px;
  border-radius: 3%;
  font-size: 14px;
  box-shadow: 0 6px 6px -6px black;
  transition: 0.3s;
}

.logoImgLogin {
  width: 92px;
  height: 92px;
  border: none;
  animation: fadeIn ease-in 1s;
  animation-delay: 0s;
  opacity: 0.8;
}

.logoImg {
  width: 92px;
  height: 92px;
  border: none;
  opacity: 0.8;
  margin-top: 3px;

}

.logo {
  font-size: 72px;
  position: relative;
  color: rgb(122,150,30);
  font-weight: 300;
}

.logoLogin {
  font-size: 72px;
  color: rgb(122,150,30);
  font-weight: 300;
  margin: 0 auto;
  animation: fadeIn ease-in 1s;
  animation-delay: 0s;
}

.logosDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footerInput {
  width: 280px;
  font-size: 18px;
  height: 45px;
  box-shadow: 0 3px 3px -3px grey;
  margin: 0 auto;

}

.footerText {
  margin: -20px;
  display: flex;
  flex-direction: column;
}

.footerImg {
  width: 32px;
  height: 32px;
  justify-content: space-between;
}

.copyright {
  color: grey;
  font-size: 16px;
  text-shadow: none;
}

.policy {
  color: rgb(171, 158, 158);
  font-size: 15px;
  text-shadow: none;
}

.footerIcons {
  display: flex;
  flex-direction: row;
  width: 300px;
  background-color: whitesmoke;
  margin: 0 auto;
  justify-content: space-evenly;
}

.header {
  width: 100%;
  height: 92px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  opacity: 0.9;
}

.loginHeader {
  width: 100%;
  height: 92px;
  background-color: white;
  justify-content: space-between;
  margin: 0 auto;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  animation: fadeIn ease-in 1s;
  animation-delay: 0s;

}

.logosLoginDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1; };
}

.traditionP {
  font-size: 46px;
  color: lightgrey;
  margin: 0 auto;
  padding: 348px;
  animation: fadeIn ease-in 1s;
  animation-delay: 0s;
}

.footer {
  width: 100%;
  height: 500px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 auto;

}

.footerP {
  font-size: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-weight: 200;

}

.login-link {
  position: relative;
  /* left: 46px; */
  color: black;
  text-decoration-color: none;

}

.welcome {
  height: 372px;
  text-align: center;
}

.break {
  width: 81%;
  height: 30px;
  background-color: rgb(142,50,40);
  border-radius: 20px;
  position: relative;
  /* left: 165px; */
}

.break2 {
  width: 81%;
  height: 30px;
  background-color: rgb(142,50,40);
  border-radius: 20px;
  position: relative;
  /* left: 165px; */
}

.landing-intro {
  margin-top: 42px;
}


.landing-images {
  height: 100%;
  width: 486px;
}

.landing-assets {
  height: 483px;
  display: flex;
  justify-content: space-between;
  border-radius: 289px;
  margin-top: 116px;
}

.register {
  width: 400px;
  height: 800px;
  margin: 0 auto;
  opacity: 0.9;
  animation: fadeIn ease-in 1s;
  animation-delay: 0s;
}

.registerlogin {
  display: flex;
  margin-top: 72px;
}

.registerButton {
  color: white;
}

.logoTitle {
  margin: 0 auto;
  padding: 40px;
  text-shadow: 3px 3px white;
  font-size: 70px;
  position: relative;
  color: rgb(122,150,30);
  font-weight: 300;
  width: 100%;
  height: 101%;
  background-color: white;
}

.hidden2 {
  background-color: black;
  opacity: 0.9;
  margin: 0 auto;
  height: 100px;

}

.inviteUser {
  height: 100%;
  background-color: black;
  opacity: 0.9;
}

.invisible {
  margin: 0 auto;
  width: 100%;
  height: 110px;
}

.questions {
  position: relative;
  /* left: 180px; */
}


.test3 {
  background-color: black;
  height: 80px;
  width: 100%;
}

.canvas2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  overflow: scroll;
  overflow-y: hidden;

}


.left-panel {
  display: flex;
  flex-direction: column;
  width: 290px;
  background-color: black;
  opacity: 0.8;
  height: 705px;
  padding: 10px;
  text-align: center;

}

h2 {
  font-size: 35px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  text-align: center;
}

.title {
  color: white;
  font-size: 50px;
  text-decoration: underline;
  margin-right: 1260px;
  width: 100%;
  text-align: center;
}

.accountHomeBooks {
  display: flex;
  flex-flow: wrap;
}

a {
  text-decoration: none;
  color: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.ingredients {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.ingredients-contentUL .ingredients-contentLI {
  list-style-type: none;
  color: white;
  font-size: 25px;
  margin: 0 auto;
  padding: 12px;
  text-shadow: 1px 1px rgb(142,50,40);
}

.ingredients ul {
  padding-inline-start:0px;
}

.ingredients-textarea {
  height: 300px;
  width: 1000px;
}

.recipe-display {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  padding: 20px;

}

.editProfileh1 {
  font-size: 40px;
  color: white;
  text-decoration: underline;
}

.recipe-name {
  color: white;
  font-size: 50px;
  text-decoration: underline;
  width: 100%;
  height: 100%;
  text-align: initial;

}

.group-recipe-name {
  color: white;
  font-size: 37px;
  text-decoration: underline;
  width: 300px;
  height: 100%;
  text-align: initial;

}

.recipe-pic {
  margin: 25px;
  width: 420px;
  height: 420px;
  max-width: 420px;
  max-height: 420px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 6px 6px -6px black;

}


.recipeButtonDiv {
  display: flex;
  flex-direction: row;
  margin: 35px;
}

.shareBtnDiv {
  background-color: black;
  padding: 10px;
  opacity: 0.9;
}

.space {
  width: 20px;
}

.space2{
  width: 20px;
  height: 30px;
}

.shareLabel {
  color: white;
  text-shadow: 1px 1px rgb(142,50,40);
}

.recipe-header {
  font-size: 32px;
  margin: 10px;
  color: lightgrey;
  text-shadow: 1px 1px rgb(142,50,40);
  text-decoration: underline;
}

.recipe-view {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
  width: 400px;
}

.recipe-display ul li{
  width: 100%;
}

.upload2 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}

.imgUpload {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border: 1px solid lightgrey;
  background-color: black;
}

.imgUploadDiv button {
  margin-top: 20px;
}
.imgUploadDiv img {
  margin-top: 20px;
}


.createBookContainer {
   width: 100%;
   height: 500px;
   background-color: black;
   opacity: 0.9;
   margin: 0 auto;
}

.recipeImgThumbnail {
  width: 200px;
  height: 200px;
  border-radius: 1.5%;
  border: 1px solid lightgrey;
}

.recipe-view-h2 {
  margin: 0 auto;
  overflow-y: auto;
  height: 40px;
}

.image-upload {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formButton {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 69px;
}

/*
.recipeUL {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  list-style-type: none;
} */

/* .recipeLI {
  margin: 0 auto;
  font-size: 20px;
  color: white;
  border-bottom: 1px solid black;

} */

/* .recipeLI:hover {
  text-decoration-line: line-through;
} */

.test {
  display: flex;
  flex-wrap: wrap;
}

.imgUploadDiv {
  width: 300px;
  height: 500px;
  border: 1px solid lightgrey;
  background-color: whitesmoke;
  box-shadow: 0 6px 6px -6px black;
  margin-top:20px;
}

.imgUploadDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.EditimgUploadDiv {
  width: 300px;
  height: 500px;
  border: 1px solid lightgrey;
  background-color: whitesmoke;
  box-shadow: 0 6px 6px -6px black;
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.EditimgUploadDiv button {
  margin-top: 20px;
  margin-bottom:10px;
}

.editProfileForm {
  margin: 20px;
 
}

.edit-canvas {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: black;
  opacity: 0.9;
}

#update-profile {
  margin-top: 60px;
}

.uploadDiv {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  margin: 0 auto;
  padding: 10px;
  height: 100%;
}

.directions {
  width: 550px;
  text-align: center;

}

.text-directions {
  margin: 0 auto;

}

.progress {
  margin: 0 auto;
  width: 200px;
  height: 100px;
}

.uploadInput {
  border: 1px solid lightgrey;
  width: 197px;
  height: 23px;
  margin-top: 5px;

}

.uploadButton {
  margin: 0 auto;

}

.footerSpan {
  color: rgb(122,120,30);
  font-size: 48px;
  margin: 40px;
}

.books {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  animation: fadeIn ease-in 1s;
  animation-delay: 0s;
}

.wrapper {
  flex-wrap: wrap;
  display: flex;
}

.bookCenter {
  margin-top: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 1%;
}

.booksList {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.book {
  border: 1px solid grey;
  width: 380px;
  height: 500px;
  background-color: rgb(122,68,70);
  text-align: center;
  align-content: center;
  margin: 12px;
  border-radius: 1.5%;
  text-shadow: 1px 1px rgb(142,50,40);
  transition: 0.3s;
  box-shadow: 5px 8px 8px -6px black;
}

.book:hover {
  width: 390px;
  height: 530px;
  transition: 0.3s;
}

li {
  cursor: pointer;
}

.recipe-submit-button {
  margin-top:30px;
}
