html {
  box-sizing: border-box;
  font-family: "Roboto", arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .homePage {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

.hidden {
  display: none;
}

.login {
width: 400px;
margin: 100px auto;
opacity: 0.8;
}

.pad {
padding: 20px;
opacity: 0.95;
}

.loginIcon {
display: flex;
flex-direction: column;
align-items: center;
margin: 5px;
}

.recipeForm {
  display: 'flex';
  flex-wrap: 'wrap';
}

.login .loginButton {
margin-top: 20px;
}

.or {
margin: 30px 0;
font-size: 16px;
text-align: center;
}

.mainContainer {
width: 1600px;
height: 800px;
margin: auto;
text-align: center;
}

.loginInput {
margin: 325px;
}

.timestamp {
font-size: 14px;
color: blue;
}

.username {
color: white;
}

.userClass {
color: blue;
}

input {
width: 300px;
height: 52px;
margin: 0 auto;
font-size: 21px;
text-align: center;
box-shadow: 0 6px 6px -6px black;
font-size: 18px;
}

button {
width: 110px;
height: 35px;
border-radius: 3%;
font-size: 14px;
box-shadow: 0 6px 6px -6px black;
}

button:hover {
background-color: lightgrey;
}

label {
color:black;
font-size: 24px;
padding: 8px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 0 auto;
}

textarea {
width: 600px;
height: 700px;
text-align: center;
box-shadow: 0 6px 6px -6px black;
font-size: 18px;
}

.prep {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.test {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#formcontainer {
display: flex;
flex-direction: row;
background-color: whitesmoke;
flex-wrap: nowrap;
width: 100%;
border: 1px solid lightgrey;
height: 100%;
margin: 0 auto;
}

.submitButton{
margin: auto;
margin-top: 10px;
}

h1 {
color:black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

input.error {
border: 1px solid red;

}

select.error {
  color: red;
  border: 1px solid red;
}

.ingredientsError {
  color: red;
  background-color: black;
}

label.error {
color: red;
}

.directionDiv {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-left: 40px;
}

.recipeContainer {
  margin: 0 auto;
}

.selectorDiv {
display:flex;
flex-direction: column;
}

select {
  width: 290px;
height: 52px;
margin: 50px;
font-size: 21px;
text-align: center;
box-shadow: 0 6px 6px -6px black;
font-size: 18px;
}

.mainContainer {
  background-color: whitesmoke;
  width: 100%;
  height: 1400px;
  margin: 0 auto;

}

p {
  font-size: 15px;
  color: grey;

}

.uploadDiv {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: lightgrey;
  font-weight: 200;
  font-size: 72px;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 16px;
}

.inputClass {
  display: block;
  margin: 14px;
  width: 350px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 2%;
  box-shadow: 0 1px 1px rgb(0, 0, 0, 0.15), 0 10px 0 -5px #eee rgba(0, 0, 0, 0.15);
  font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul li:hover {
  font-size: 20px;
  box-shadow: 0 8px 1px -4px rgb(0, 0, 0, 0.10), 0 20px 0 -10px #eee;
}

ul {
  text-decoration: none;
  font-style: none;
  padding: 0;

}

ul li {
  color: black;
  display: block;
  margin: 0 auto;
  width: 350px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  background-color: white;
  font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 1px 1px rgb(0, 0, 0, 0.15), 0 10px 0 -5px #eee;
  line-height: 50px;

}

#canvas {
  height: 1500px;
}

#header {
  width: 100%;
  height: 95px;
  background-color: rgb(142,50,40);
  display: flex;
}

#footer {
  width: 100%;
  height: 239px;
  background-color: rgb(142,50,40);
  display: flex;
  justify-content: center;
  font-size: 72px;
  margin-top: 104px;
}

.uploadDiv {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 10px;
}

.uploadInput {
  border: 1px solid lightgrey;
  width: 500px;
  height:600px;

}

.uploadButton {
  margin: 0 auto;
}

#login-link {
  position: relative;
  left: 46px;
  color: black;
  text-decoration-color: none;
}

#welcome {
  height: 372px;
  text-align: center;
}

#break {
  width: 81%;
  height: 30px;
  background-color: rgb(142,50,40);
  border-radius: 20px;
  position: relative;
  left: 165px;
}

#break2 {
  width: 81%;
  height: 30px;
  background-color: rgb(142,50,40);
  border-radius: 20px;
  position: relative;
  left: 165px;
}

#landing-intro {
  margin-top: 42px;
}

.landing-images {
  height: 100%;
  width: 486px;
}

#landing-assets {
  height: 483px;
  display: flex;
  justify-content: space-between;
  border-radius: 289px;
  margin-top: 116px;
}

#registerlogin {
  display: flex;
  margin-top: 72px;
}

.questions {
  position: relative;
  left: 180px;
}

#canvas2 {
  display: flex;
  justify-content: center;
  height: 600px;
  margin: 0 5%;
}

.accountNAV {
  height: 500px;
  width: 544px;
  border: black groove 5px;
  margin-top: 88px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#left-panel {
  font-size: 30px;
}

.title {
  text-decoration: underline;
}

#logo {
  font-size: 50px;
  position: relative;
  top: -33px;
  left: 29px;
}


a {
  text-decoration: none;
  color: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

#ingredients-textarea {
  height: 300px;
  width: 1000px;
}

#recipeCanvas {
  height: 1500px;
  margin: 0 10%;
}

#recipe-pic {
  position: relative;
  left: 565px;
  top: 145px;
}

#recipe-name {
  position: relative;
  top: -369px;
}

#prep-header {
  font-size: 40px;
  text-decoration: underline;
}

#prep {
  position: relative;
  top: 65px;
  left: 482px;
}

#ingredients {
  position: relative;
  left: 864px;
  top: -110px;
}

#ingredients-header {
  font-size: 40px;
  text-decoration: underline;
}

#directions {
  position: relative;
  top: 196px;
}
